.App {
  text-align: center;
}

.App div button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
}

.App .positive {
  color: green;
}
.App .negative {
  color: red;
}

.App div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.App div button:nth-child(1) {
  background: green;
}
.App div button:nth-child(2) {
  background: red;
}
